<div>
  <button id="startButton">Start</button>
  <button id="callButton">Call</button>
  <button id="hangupButton">Hang Up</button>
</div>
<div id="video">
  <video id="local"></video>
  <video id="remote"></video>
</div>
<canvas id="canvas" resize></canvas>
<script type="text/paperscript" src="javascripts/canvas.js" canvas="canvas" keepalive="true"></script>
<script>
  $(function() {
      var script = document.createElement('script');
      script.type = "text/javascript";
      script.src = "javascripts/video.js";
      $('body').append(paper);
      $('body').append(script);
  });
</script>
