<script type="text/paperscript" src="javascripts/canvas.js" canvas="canvas" keepalive="true"></script>
<script src="javascripts/video.js"></script>
<div>
  <button id="startButton">Start</button>
  <button id="callButton">Call</button>
  <button id="hangupButton">Hang Up</button>
</div>
<div id="video">
  <video id="local"></video>
  <video id="remote"></video>
</div>
<canvas id="canvas" resize></canvas>
