body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#video {
  display: none;
  height: 20%;
}

#picture {
  display: none;
}

#photoCanvas {
  display: none;
}

video {
  height: 200px;
}
